<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <title>SAC - 404</title>
    </head>
    <body>
        <div class="container">
            <div class="container">
                <div class="page-header">
                    <h1>404</h1>
                </div>
                <p class="lead">Página não encontrada</p>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
