<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <title>SAC - {{operator}}</title>
</head>
<body>
   <div id="app" class="container"></div>
    <script>
        window.operator = "{{operator}}"
    </script>

    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
